body{
    background: url(https://mh-1-stockagency.panthermedia.net/media/previews/0019000000/19734000/~graffiti-background-seamless-pattern_19734331_high.jpg) repeat;
    text-align: center;
    color: white;  
    font-family:
      Helvetica, Ariel, sans-serif;
  }
  .tag {
    width: 50%;
    margin-left:25%;
  }
  .top {
    background: red;
    border-radius: 10px 10px 0 0;
    } 
  .h1{
        text-align: center;
    }  
  .mid{
    color: black;
    height: 30vh;
    padding-top:10px;
    background-color: white;
  }
  
    .bottom{
    height: 10vh;
    background: red;
    border-radius: 0 0 10px 10px ;
  }
   
  } 